.float .right{
    float: right;
    background-color: aqua;
    width: 100px;
    height: 100px;
}

/*tamben existe o float "none" que deixa o efeito de flutuar sem funcionar*/

.float .left{
    float: left;
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}

.float::after {
    content: "";
    display: block;
    clear: both;
}

img{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}